@layer reset, base, tokens, recipes, utilities;

pre.shiki {
  padding: 15px;
  overflow: auto;
  margin-top: 1.2rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;

  code {
    overflow: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9rem;
    line-height: 1.6;
  }
}

.doc-container {
  padding-top: 2rem;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
